.edit-one-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.edit-label-subject {
    display: flex;
    flex-direction: column;
    color: lightgray;
    font-family: 'Baloo Tamma 2';
}

.edit-one-subject {
    width: 500px;
    height: 30px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 2px;
    font-size: 16px;
    font-family: 'Baloo Tamma 2';
}

.edit-label-content {
    display: flex;
    flex-direction: column;
    color: lightgrey;
    font-family: 'Baloo Tamma 2';
}

.edit-one-content {
    width: 500px;
    height: 200px;
    border: 1px solid black;
    border-radius: 2px;
    font-size: 16px;
    font-family: 'Baloo Tamma 2';
}

.edit-label-image {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    color: lightgrey;
    font-family: 'Baloo Tamma 2';
    
}

.edit-one-image {
    width: 500px;
    height: 30px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 2px;
    font-family: 'Baloo Tamma 2';
}

.edit-one-submit {
    background-color: lavender;
    border-color: lavender;
    border-style: none;
    border-radius: 2px;
    width: 234px;
    height: 34px;
    margin: 5px 0;
    padding: 0;
    font-family: 'Baloo Tamma 2';
}