.mindfront-logo {
    margin-left: 150px;
    margin-top: 50px;
    font-size: 42px;
}

.login-button {
    position: absolute;
    right: 200px;
    top: 60px;
    background: transparent;
    border: none;
    font-size: 20px;
    font-family: 'Baloo Tamma 2';
}

.subscribe-button {
    position: absolute;
    right: 80px;
    top: 60px;
    background: transparent;
    border: none;
    font-size: 20px;
    font-family: 'Baloo Tamma 2';
}

.signed-in-user {
    position: absolute;
    right: 100px;
    top: 50px;
    font-size: 20px;
    margin: 0;
    padding: 15px 40px;
    background-color: lavender;
    border-radius: 2px;
}

.logout {
    position: absolute;
    right: 100px;
    top: 125px;
    font-size: 20px;
    background-color: transparent;
    border-style: none;
    font-size: 14px;
    color: lightgray;
}