.mindfront-logo {
    margin-left: 150px;
    margin-top: 50px;
}

.login-button {
    position: absolute;
    right: 200px;
    top: 60px;
    background: transparent;
    border: none;
    font-size: 20px;
}

.subscribe-button {
    position: absolute;
    right: 80px;
    top: 60px;
    background: transparent;
    border: none;
    font-size: 20px;
}

.signed-in-user {
    position: absolute;
    right: 220px;
    top: 80px;
    font-size: 20px;
}

.logout {
    position: absolute;
    right: 200px;
    top: 80px;
    font-size: 20px;
}