.show-all-comments {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.show-one-post-subject {

}

.show-one-post-content {
    
}

.show-one-post-image {
    
}

.show-one-post-comments {
    
}