.new-post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}


.new-post-subject {
    width: 500px;
    height: 30px;
    margin-bottom: 20px;
}

.new-post-content {
    width: 500px;
    height: 200px;
}

.new-post-image {
    width: 500px;
    height: 30px;
    margin: 20px 0;
}

.new-post-submit {
    background-color: lavender;
    border-color: lavender;
    border-style: none;
    border-radius: 2px;
    width: 234px;
    height: 34px;
    margin: 5px 0;
    padding: 0;
}