
.homepage-posts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F8EDEB;
    margin: 50px 100px 0 100px;
    padding: 50px 0;
}

.show-posts-subject {
    font-weight: bold;
}

.show-posts-content {
    max-width: 400px;
    text-align: justify;
}

.show-posts-image {
    width: 400px;
}