img {
    width: 400px;
}

.homepage-posts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: #F0EFEB; */
    background-color: #F8EDEB;
    margin: 50px 100px 0 100px;
    padding: 50px 0;
}