.footer {
    display: flex;
    justify-content: space-evenly;
    padding: 50px 0;
    margin: 50px 100px;
    background-color: #F0EFEB;
}

.end-quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-mindfront {
    font-size: 24px;
    font-weight: bold;
}

.footer-quote {
    font-style: italic;
    font-size: 22px;
}

.footer-info {
    font-weight: bold;
}

.footer-links {
    display: flex;
    flex-direction: column;
}

/* tablet */
@media (min-width: 768px) and (max-width: 1000px) {

.footer-quote {
    font-size: 20px;
}


}